
body{
    margin:0;
    padding: 0;
    
}

header{
    background-color: red;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}
ul li {
    display: inline-block;
    font-family: sans-serif;
    padding: 25px;
    
}

a{
    font-size: 20px;
    color:white;
    text-decoration: none;
}
a:hover{
    color: slategrey; 
}
#imagen-logo{
    border-radius: 50%;
}
#nombre-empresa{
    font-size: 40px;
    font-family: sans-serif;
    color: white;
}
#orden-body{
    display: flex;
    background-color: grey;
    text-align: center;
    font-family: sans-serif;
    color: white;
}
#orden-body h1{
    color: black;
    font-size: 40px;
}
#orden-body span{
    color: black;
}
.footer{
    background-color: red;
    color:white;
    font-size: 14px;
    font-family: sans-serif;
    padding-top: 10px;
    
}
#parrafos-footer{
    text-decoration: underline;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    
   
}

#boton-enviar{
    background-color: green;
    color: white;
}

#align{
    text-align: left;
    margin-left: 40px; 
    margin-top: 20px;
    margin-bottom: 20px;
   
}
#color-1{
     background-color: grey;
  
}